/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Estilo de introducción */
#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#intro img {
    width: 20px;
    height: auto;
    animation: zoomIn 3s ease-in-out forwards;
}

/* Justificar texto en todas las páginas */
body, p, div {
    text-align: justify;
}

/* Animación de zoom */
@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(50);
        opacity: 0;
    }
}
