<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="intro">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Imagen de Intro">
    </div>
    <script>
        setTimeout(function () {
            window.location.href = "{{ url_for('jp') }}";
        }, 3000); // La animación dura 3 segundos
    </script>
</body>
</html>
